<tr>
  <th><span class="content"><%= product.id %></span></th>
  <th><span class="content"><%= product.productname %></span></th>
  <th><span class="content"><%= product.productDescription %></span></th>
  <th><span class="content"><%= product.productPrice %></span></th>
  <th><%= image_tag product.upPicture.url if product.upPicture? %></th>
  <th><span class="timestamp">
	<%= t ".posted" %> <%= time_ago_in_words(product.created_at) %> <%= t ".ago" %>  </span></th>
 
	<th><%= link_to t(".view_product"), new_cart_path(product_id: product.id) %></th>
  
  <% if logged_in? && current_user.admin %>
  <th><span class="content"><%= product.rate %></span></th>
  <th><%= link_to t(".delete"), product, method: :delete,
	data: { confirm: t(".confirm_delete") },:remote => true, :class => 'delete_pony' %></th>
  <% end %>
</tr>
